{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="d-flex flex-column align-items-center">
        <h1 class="titleIndex">FYM</h1>
        <h2 class="subIndex">Find your Team</h2>
        <h2 class="subIndex">Find your Match</h2>
    </div>

{% endblock %}
