{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-end mb-4">
                <div class="sizingdiv">
                    <h2 class="fw-bold">Find a player</h2>
                    <p class="my-3">Dictumst magna ultricies justo auctor. Gravida morbi etiam id, magna lacinia
                        augue.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
