{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% for game in games %}
    <div>
        <a href="{{ path('game_edit', {'id': game.id}) }}">{{ game.name }}</a>

    </div>
{% endfor %}

{% endblock %}
