{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center">{%include 'search/_form.html.twig' %}</div>

{% endblock %}
