<form>
    <div class="form-group">
        <label for="playerName">Player Name</label>
        <input type="text" minlength="3" maxlength="16" class="form-control" name="playerName" id="playerName">
    </div>
</form>

{#<form name="myForm" onsubmit="return validateForm()" method="post">#}
{#    <label for="playerName">Player Name</label>#}
{#    <input type="text" name="playerName">#}
{#    <input type="submit" value="Submit">#}
{#</form>#}