<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/"
       class="d-flex flex-column align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-1 d-none d-sm-inline">FYM</span>
      <span class="d-none d-sm-inline">Find your mate</span>
      <span class="d-none d-sm-inline">Find your match</span>

    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a href="#" class="nav-link align-middle px-0">
          <i class="bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link align-middle px-0">
          <i class="bi-house"></i> <span class="ms-1 d-none d-sm-inline">My profile</span>
        </a>
      </li>
      <li>
        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
          <i class="bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">My team</span>
        </a>
      </li>
      <li>
        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
          <i class="bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Games</span></a>
        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
          <li class="w-100">
            <a href="#" class="nav-link px-0"> <span
                    class="d-none d-sm-inline">League of legends</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <hr>
{#    {% if not app.user %}#}
    <div class="pb-4 bottom-0">
      <a class="text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalForm">SignIn
        / signUp</a>
    </div>
  </div>
  <div class="modal fade" id="ModalForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="" method="post">
          <div class="modal-header">
            <h5 class="modal-title text-dark">Connect</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="text-dark" for="inputEmail">Email<span
                      class="text-danger">*</span></label>
              <input type="email" value="" name="email" id="inputEmail"
                     class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="mb-3">
              <label class="text-dark" for="Password">Password<span
                      class="text-danger">*</span></label>
              <input type="password" name="password" class="form-control" id="Password"
                     placeholder="Enter Password">
              <input type="hidden" name="_csrf_token"
                     value="{{ csrf_token('authenticate') }}">
            </div>
            <div class="mb-3">
              <a href="#" class="float-end">Forgot Password</a>
            </div>
          </div>
          <div class="modal-footer pt-4">
            <button type="submit" class="btn btn-success mx-auto w-100">Login</button>
          </div>
          <p class="text-center text-dark">Not yet account, <a
                  href="">Signup</a></p>
        </form>
      </div>
    </div>
  </div>
{#  {% endif %}#}
{#  {% if app.user %}#}
{#  <div class="dropdown pb-4 bottom-0">#}
{#    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"#}
{#       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">#}
{#      <span class="d-none d-sm-inline mx-1">{{ app.user.username }}</span>#}
{#    </a>#}
{#    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">#}
{#      <li><a class="dropdown-item" href="#">Profile</a></li>#}
{#      <li>#}
{#        <hr class="dropdown-divider">#}
{#      </li>#}
{#      <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sign out</a></li>#}
{#    </ul>#}
{#  </div>#}
{#  {% endif %}#}
</div>